<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml предназначен для регистрации сервлетов за соответствующими url -->
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <servlet>
        <servlet-name>DBServlet</servlet-name>
        <servlet-class>ru.alfabank.servlet.DBServlet</servlet-class>
    </servlet>

    <!--Указываем URL,для вызова сервлета. Пример:http://localhost:9091/dispatcher/название -->
    <servlet-mapping>
        <servlet-name>DBServlet</servlet-name>
        <url-pattern>/DBServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>