body, input {
    font-family: 'UnifrakturCook', cursive;
    font-size: 18px;
}

label {
    font-weight: bold;
}

.table-border {
    border-width: 10px;
    border-color: lightskyblue;
    border-style: outset;
    padding-left: 10px;
    padding-right: 10px; 
}

tr.table-row-spacing>td {
    padding-bottom: 1em;
}
