.b-form_row {
    margin: 10px 0 20px;
    font-size: 0;
}

.b-form_col {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.b-btn {
  background: #2589de;
  font-size: 24px;
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 54px;
  font-family: 'MCW XX Light Regular';
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
