<?xml version="1.0" encoding="UTF-8"?>
<!-- web.xml предназначен для регистрации сервлетов за соответствующими url -->
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <servlet>
        <servlet-name>ServletConfigExample</servlet-name>
        <servlet-class>ru.alfabank.servlet.ServletConfigExample</servlet-class>

        <init-param>
            <param-name>driver</param-name>
            <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
        </init-param>
    </servlet>

    <context-param>
        <param-name>dname</param-name>
        <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
    </context-param>

    <!--Указываем URL,для вызова сервлета. Пример:http://localhost:9091/dispatcher/название -->
    <servlet-mapping>
        <servlet-name>ServletConfigExample</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>